*{
    margin : 0;
    padding : 0;
    font-family:  "Poppins", sans-serif;
    font-style: normal;
}

body{
    background-color: black;
}

/* body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
} */


/* HEADER section */
.intro{
    height: 15vh!important;
    background-color: none;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(40px);
    border-bottom: 1px solid white;
    transition: transform 0.5s ease-out;

}

/* Navbar contents */
.Navbar{
    height: 15vh!important;

}

.portfolio{
    display: flex;
    justify-content: center;
    place-items: center;
    background-color: none;

    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menuBar-list{
    width: 100%;
    height: 60%;    
    background-color: transparent;

    list-style: none;

    /* box-shadow: 0px 0px 5px 0px #123458; */
    border-radius: 50px;
    /* border: 2px solid white; */

    margin: 2% 0%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.menuBar-list li{
    margin: 0% 1%;
    transition: 800ms;

}

.menu-btn{
    padding: 3px 10px;
    background-color: none;
    font-weight: 800;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
}

.active-btn{
    color:#13D848;
    border: 1px solid #13D848;

}

.menu-btn:hover{
    color: #13D848;
    font-weight: bold;

    transition: 800ms;
}

.menu-btn:active{
    color: blue;
}

.toggle{
    padding: 3px 5px;
    background-color: transparent;
    display: none;
    border-radius: 5px;
    position: relative;
    justify-content: center;
    align-items: center; 

}

.toggle-btn {
    color: white;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: 800ms;

    display: flex;
    justify-content: center;
    align-items: center;

}


.sidebar{
    width: 100%;
    height: 60%;
    /* background-color: #123458; */
    backdrop-filter: blur(50px);
    border-bottom: 1px solid white;

    position: fixed;
    left: 0;
    top: 15vh;
    padding: 0% 25% ;
    display: none;

    z-index: 99;
}

.sidebar-menu{  
    list-style: none;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10%; 
}


.sidebar-menu .menu-btn{
    margin: 10% 0%;
}


/* SECTION 2 Hero content */
.home{
    width: 100%;
    height: 105vh;    
    background-image: radial-gradient(800px at top left, rgb(22, 72, 1), rgb(0, 0, 0));  
    position: relative;
    z-index: 0;

}

.home-box{
    width: 100%;
    height: 100%;
    background-color: none;
}

.f-name{
    width: 100%;
    height: 85vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: start;

    font-size: 6rem;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 3px #13D848;

    margin-top: 20vh;

}

.f-name span{
    color: #13D848;
    -webkit-text-stroke: 3px #13D848;
}

.l-name{
    position: absolute;
    z-index: 3;
    margin-top: 5%;

    font-size: 10rem;
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 2px bisque;

}

.l-name span{
    color: bisque;
    -webkit-text-stroke: 2px bisque;

}

.snap{
    color: white;
    font-size: 1.5rem;
    color: bisque;
    width: 100%;
    height: 40vh;
    background-color: none;

    position: absolute;
    top:0;
    left:0;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 55vh;
    
}

.snap p{
    width: 50%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.svg-div-1{
    width: 200px;
    height: 200px;
}

.svg-div-1 img{
    width: 100%;
    height: 100%;
}

/* Section "About me" */
.about-me{
    width: 100%;
    height: 100vh;
    background: radial-gradient(400px at right, rgb(19, 61, 1), rgb(0, 0, 0));
    /* overflow: hidden; */
    padding: 1%;
}   

.about-box{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 20% 70%;
    gap: 10% 5%;
    align-items: center;
    justify-content: center;
}

.about{
    width:100%;
    height: 100%;
    background-image: linear-gradient(45deg, rgb(3, 150, 3), rgb(0, 245, 53), rgb(0, 221, 255), rgb(0, 221, 255));
    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 36px;
    /* display: inline-block; */
    grid-column: span 2;
    display: flex;
    align-items: end;
    justify-content: center;
}

.img-box{
    width: 100%;
    height: 100%;
    background: url("../images/about-me picture.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border: 5px solid rgb(63, 109, 1);
    transition: 500ms ease-out;
    transition: transform 1s;

}

.img-box:hover{
    border: 5px solid rgb(0, 217, 255);
    transform: translate(0, -5px);
    transition: 500ms ease-in;
    /* transition: transform 1s; */
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.167);
}

.about-text{
    width: 100%;
    height: 100%;
    padding: 3% 0%;
}
.about-text p{
    font-size: 20px;
    font-weight: 600;
    color: bisque;
    margin: 20px 0px;
    text-wrap: pretty;
}

.name{
    font-size: 26px;
    font-weight: bolder;
    background-image: linear-gradient(90deg, rgb(255, 140, 0), bisque, bisque);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.hilight{
    color: green!important;
    text-align: center;
}   

.download-btn{
    background-color: transparent;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #13D848;
    margin:5px 15px;
    border-radius: 15px;

    color: #13D848;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s ease-in;
}


.download-btn:hover{
    /* background-color: #ff92f9; */
    color: #ff92f9;
    border: 2px solid #ff92f9;
    transition: 1s;
}

.download-btn:active{
    border: 2px solid white;
    color: white;
}

/* My skills Section  */
.skills{
    height: 65vh;
    position: sticky;
    top: 18vh;
    z-index: 1;
    margin: 8% 0;
}

.skill-box{
    background-image: linear-gradient(90deg, rgb(0, 255, 72),rgb(255, 132, 0),rgb(242, 0, 246),rgb(243, 147, 200));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.badge{
    width: 20%;
    height: 60vh;
    position: sticky;
    top: 28vh;
    border-radius: 20px;
    overflow: hidden;
    /* padding:0; */
    margin: 5% 0;
}


.softwares{
    /* background: linear-gradient( rgb(1, 129, 37), rgb(10, 228, 72)); */
    background-image: linear-gradient(rgb(25, 25, 25), rgb(56, 56, 56));
    border: 3px solid rgb(0, 255, 72);
    left: 4%;
    z-index: 10;
    box-shadow: 0px 0px 10px 0px rgb(0, 255, 72);


    h5{
        width: 100%;
        height: 15%;
        color: rgb(1, 255, 73);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        border-bottom: 3px solid rgb(1, 255, 73);
    }

    .icons{
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        place-content: center center;
        gap: 10px;
        margin: 0;
        font-weight: 600;
    }

    .item1{
        grid-column: span 2;
    }

    .item2{
        grid-column: span 2;
    }

    .item5{
        grid-column: span 2;
    }

    .icons div{
        background: linear-gradient(90deg, rgb(1, 206, 59), rgb(0, 252, 71));
        /* background-color: rgb(186, 96, 1); */
        border-radius: 10px;
        color: black;
        font-size: 20px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

}



.language{
    /* background: linear-gradient(rgb(186, 96, 1), rgb(244, 144, 36) ); */
    background-image: linear-gradient(rgb(25, 25, 25), rgb(56, 56, 56));
    left: 28%;
    border: 3px solid rgb(255, 132, 0);
    z-index: 11;
    /* padding: 0%; */
    box-shadow: 0px 0px 10px 0px rgb(255, 132, 0);


    h5{
        width: 100%;
        height: 15%;
        color: rgb(255, 132, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        border-bottom: 3px solid rgb(255, 132, 0);
    }

    .icons{
        width: 100%;
        height: 80%;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        place-content: center center;
        font-weight: 600;
        gap: 10px;        
    }

    .item1{
        grid-column: span 2;
    }

    .item3{
        grid-row: span 2;
    }

    .item5{
        grid-column: span 2;
    }

    .icons div{
        background: linear-gradient(90deg, rgb(255, 137, 10), rgb(253, 147, 34) );        
        border-radius: 10px;
        color: black;
        font-size: 20px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

}

.frontend{
    /* background: linear-gradient(rgb(242, 0, 246), rgb(249, 147, 251) ); */
    background-image: linear-gradient(rgb(25, 25, 25), rgb(56, 56, 56));
    left:52%;
    border: 3px solid rgb(242, 0, 246);
    z-index: 12;
    box-shadow: 0px 0px 10px 0px rgb(242, 0, 246);

    h5{
        width: 100%;
        height: 15%;
        color: rgb(242, 0, 246);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        border-bottom: 3px solid rgb(242, 0, 246);
    }

    .icons{
        width: 100%;
        height: 80%;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        place-content: center center;
        font-weight: 600;
        gap: 10px;        
    }

    .item1{
        grid-column: span 2;
    }
    
    .item2{
        grid-column: span 2;
    }

    .item5{
        grid-row: span 2;
    }


    .icons div{
        background: linear-gradient(90deg, rgb(242, 0, 246), rgb(249, 147, 251) );
        border-radius: 10px;
        color: black;
        font-size: 20px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }

}

.backend{
    /* background: linear-gradient(rgb(246, 78, 170), rgb(243, 147, 200) ); */
    background-image: linear-gradient(rgb(25, 25, 25), rgb(56, 56, 56));
    left:76%;
    z-index: 13;
    border: 3px solid rgb(243, 147, 200);
    box-shadow: 0px 0px 10px 0px rgb(243, 147, 200);

    h5{
        width: 100%;
        height: 15%;
        color: rgb(243, 147, 200);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;
        border-bottom: 3px solid rgb(243, 147, 200);
    }

    .icons{
        width: 100%;
        height: 80%;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        place-content: center center;
        font-weight: 600;
        gap: 10px;        
    }

    .item3{
        grid-column: span 2;
    }

    .item4{
        grid-column: span 2;
    }

    .icons div{
        padding: 0;
        background: linear-gradient(90deg, rgb(253, 110, 189), rgb(247, 134, 196) );
        border-radius: 10px;
        color: black;
        font-size: 20px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
}

/* Project 1 (Div) */
.pro-1{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black);

}

.pro-1-box{
    width: 100%;
    height: 100%;
    background-color: none;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.textBox-1{
    width: 45%;
    height: 100vh;

    color: bisque;
    text-align: left;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.textBox-1 h2{
    font-size: 3rem;
    font-weight: bolder;
    margin:15px;
    color: bisque;
}

.textBox-1 h2 span{
    color: #13D848;
}

.textBox-1 h3{
    font-size: 1rem;
    font-weight: bold;
    margin:15px;
    color: white;

}

.textBox-1 p{
    font-size: .8rem;
    margin:5px 15px;
    color: bisque;

}

.viewBtn-1{
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #13D848;
    margin:5px 15px;
    border-radius: 15px;

    color: #13D848;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}


.viewBtn-1:hover{
    background-color: #ff92f9;
    color: black;
    border: 2px solid #ff92f9;
    transition: 1s;
}

.viewBtn-1:active{
    background-color: #ff92f9;
    transition: 0.5s;
}

.videoBox-1{
    width: 45%;
    height: 60vh;
    background-image: linear-gradient(90deg,#ff92f9 30%,#FEC5FB  100%);

    color: white;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

.videoBox-1 video{
    width: 95%;
    height: 100%;
    margin: 0;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.666));

}

/* Project 2 (Div) */
.pro-2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black);
}

.pro-2-box{
    width: 100%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;

}
 
.textBox-2{
    width: 45%;
    height: 100%;
    color: bisque;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;

}

.textBox-2 h2{
    font-size: 3rem;
    font-weight: bolder;
    margin:15px;
    color: bisque;
    text-align: right;
}

.textBox-2 h2 span{
    color: #13D848;
}

.textBox-2 h3{
    font-size: 1rem;
    font-weight: bold;
    margin:15px;
    color: white;
    text-align: end;

}

.textBox-2 p{
    font-size: .8rem;
    margin:5px 15px;
    color: bisque;
    text-align: end;

}

.viewBtn-2{
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #13D848;
    margin:5px 15px;
    border-radius: 15px;

    color: #13D848;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.viewBtn-2:hover{
    background-color: #01b2d1;
    color: black;
    border: 2px solid #01b2d1;
    transition: 1s;
}

.viewBtn-2:active{
    background-color: white;
    transition: 0.5s;
}

.videoBox-2{
    width: 45%;
    height: 60%;
    background-image: linear-gradient(90deg,#01b2d1 30%,#96efff  100%);

    color: white;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0;
    overflow: hidden;

}

.videoBox-2 video{
    width: 95%;
    height: 100%;
    margin: 0;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.666));

}


/*Education section */
.education{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    gap: 20px;
    background-image: linear-gradient(180deg,black, black, rgb(26, 25, 25) );

    .edu-box{
        grid-column: span 2;
        background-image: linear-gradient(90deg,  #00ff44,rgb(242, 0, 246));
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
}

.college{
    border-radius: 20px;
    border: 3px solid rgb(242, 0, 246);
    padding: 15px;
    box-shadow: 0px 0px 10px 0px rgb(242, 0, 246);
    margin: 5px;
    background-image: linear-gradient(rgb(25, 25, 25), rgb(44, 44, 44));

    /* background-image: linear-gradient(90deg, rgb(246, 83, 249),rgb(249, 163, 250)); */
    h2{
        color: rgb(242, 0, 246);
    }

    p{
        /* background-color: rgb(242, 0, 246); */
        border-radius: 10px;
        padding: 5px;
        color: white;
    }
    span{
        color: bisque;
    }

}

.institution{
    border-radius: 20px;
    border: 3px solid #00ff44;
    box-shadow: 0px 0px 10px 0px #00ff44;
    margin: 5px;
    padding: 15px;
    background-image: linear-gradient(rgb(25, 25, 25), rgb(34, 34, 34));

    /* background-image: linear-gradient(90deg, #00ff44,#6af58f); */
    h2{
        color: #00ff44;
    }

    p{
        /* background-color: rgb(242, 0, 246); */
        border-radius: 10px;
        padding: 5px;
        color: white;
    }

    span{
        color: bisque;
    }

}

/* Experience */
.experience{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    gap: 20px;
    padding: 5% 20%;
    background-image: linear-gradient(180deg,  rgb(26, 25, 25) , black ,black);


    .exp-box{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(90deg, rgb(255, 137, 10), rgb(7, 185, 255));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }
}

.pvr{
    background-image: linear-gradient(rgb(25, 25, 25), rgb(44, 44, 44));
    border: 3px solid rgb(255, 137, 10);
    border-radius: 20px;
    padding: 15px;
    color: rgb(255, 137, 10);
    box-shadow: 0 0 10px 0 rgb(255, 137, 10);
    p{
        color: white;
    }
}

.chola{
    background-image: linear-gradient(rgb(25, 25, 25), rgb(44, 44, 44));
    border: 3px solid rgb(7, 185, 255);
    border-radius: 20px;
    padding: 15px;
    color: rgb(7, 185, 255);
    box-shadow: 0 0 10px 0 rgb(7, 185, 255);
    p{
        color: white;
    }
}

footer{
    border-top: 3px solid white;
}

