/* Responsive styles for mobile */
@media (max-width: 567px) {
    .intro{
        height: 10vh!important;
    }

    .Navbar{
        height: 10vh!important;
    }

    .menuBar-list{
        display: none;
    }

    .menuBar{
        justify-content: end!important;
    }

    .toggle{
        display: block;
        margin-right: 5%;
    }

    .sidebar.active{
        display: block;
    }
    .about{
        background-image: radial-gradient(300px at top left, rgb(22, 72, 1), rgb(0, 0, 0));  

    }

    .f-name{
        font-size: 3rem;
    }

    .f-name span{
        color: #13D848;
        -webkit-text-stroke: 1px #13D848;
    }

    .l-name{
        font-size: 4rem;
        -webkit-text-stroke: 1px bisque;
        margin-top: 15%;
    }

    .l-name span{
        color: bisque;
        -webkit-text-stroke: 1px bisque;
        margin-top:10%;

    }

    .snap{
        font-size: 0.75rem;
    }

    .snap p{
        width: 80%;
        height: 100%;
        padding: 0;

    }    

    .svg-div-1 img{
        width: 100px;
        height: 200px;
    }

/* About me section for mobile screen */
    .about-me{
        height: 200vh;
        background: radial-gradient(350px at right, rgb(22, 72, 1), rgb(0, 0, 0));
    }

    .about-box{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 5% 40% 40%;
        row-gap: 2%;
        column-gap: 5%;
        grid-auto-flow: column;
        padding: 2%;
    }

    .about{
        background-image: linear-gradient(45deg, rgb(3, 150, 3), rgb(30, 255, 79), rgb(0, 221, 255));
        -webkit-background-clip: text;
        background-clip: text;

        -webkit-text-fill-color: transparent;
        font-weight: bolder;
        font-size: 26px;
        /* display: inline-block; */
        grid-column: span 1;
    }

    .about-text{
        text-align: center;

        h2{
            text-align: center;
            font-size: 20px;
        }
        p{
            font-size: 16px;
            word-wrap: break-word;
        }

    }

/* My skills section for mobile */
    .badge{
        width: 100%;
    }

    .softwares{
        left: 4%;

    }

    .language{
        left: 4%;

    }

    .frontend{
        left:4%;

    }

    .backend{
        left:4%;

    }


/* Project 1 mobile screen */
    .pro-1{
        width:100%;
        height: 100vh;
        padding-top: 15%;
    }
    .pro-1-box{
        width:100%;
        height: 85%;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: none;
        border: 2px solid #ff92f9;
        border-radius: 30px;
        padding: 2px;
    }

    .textBox-1{
        width: 100%;
        height: 70%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .textBox-1 h2{
        font-size: 2rem;
        margin: 5px 0px;
    }
    


    .textBox-1 h3{
        font-size: 1rem;
        margin: 5px 0px;

    }

    .textBox-1 p{
        font-size: .8rem;
        margin: 5px 0px;


    }

    .videoBox-1{
        width: 100%;
        height: 30%;
        border-radius: 0px 0px 30px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .videoBox-1 video{
        width: 90%;
        height: 80%;
    }

/* Project 2 mobile screen */
    .pro-2{
        width:100%;
        height: 100vh;
        padding-top: 15%
    }

    .pro-2-box{
        width:100%;
        height: 85%;
        flex-direction: column-reverse;
        justify-content: space-between;
        border-bottom: none;
        border: 2px solid #01b2d1;
        border-radius: 30px;
        padding: 2px;
    }

    .textBox-2{
        width: 100%;
        height: 70%;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .textBox-2 h2{
        font-size: 2rem;
        margin: 5px 0px;
        text-align: center;
    }
    


    .textBox-2 h3{
        font-size: 1rem;
        margin: 5px 0px;
        text-align: center;

    }

    .textBox-2 p{
        font-size: .8rem;
        margin: 5px 0px;


    }

    .videoBox-2{
        width: 100%;
        height: 30%;
        border-radius: 0px 0px 30px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .videoBox-2 video{
        width: 90%;
        height: 80%;
    }

}
    